.container {
    padding: 10px 20px;
    background: #30CFD0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    width: max-content;
}